/* Homepage */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fade-in {
	opacity:0;  /* make things invisible upon start */
	-webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:fadeIn ease-in 1;
	animation:fadeIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	animation-duration:1s;


}


@-webkit-keyframes moveIn { from { transform:translateY(100px); opacity:0; } to { transform:translateY(0px); opacity:1; } }
@-moz-keyframes moveIn { from { transform:translateY(100px); opacity:0; } to { transform:translateY(0px); opacity:1; } }
@keyframes moveIn { from { transform:translateY(100px); opacity:0; } to { transform:translateY(0px); opacity:1; } }

.move-in {
	transform:translateY(100px);
	opacity: 0;
	-webkit-animation:moveIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
	-moz-animation:moveIn ease-in 1;
	animation:moveIn ease-in 1;
 
	-webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
	-moz-animation-fill-mode:forwards;
	animation-fill-mode:forwards;
 
	-webkit-animation-duration:.4s;
	-moz-animation-duration:.4s;
	animation-duration:.4s;

	-webkit-animation-delay: .8s;
	-moz-animation-delay:.8s;
	animation-delay:.8s;

}
.move-in-one{
	@extend .move-in;
	-webkit-animation-delay: 1s;
	-moz-animation-delay:1s;
	animation-delay:1s;

}
.move-in-two{
	@extend .move-in;
	-webkit-animation-delay: 1.2s;
	-moz-animation-delay:1.2s;
	animation-delay:1.2s;

}
.move-in-three{
	@extend .move-in;
	-webkit-animation-delay: 1.4s;
	-moz-animation-delay:1.4s;
	animation-delay:1.4s;

}
.move-in-four{
	@extend .move-in;
	-webkit-animation-delay: 1.6s;
	-moz-animation-delay:1.6s;
	animation-delay:1.6s;

}
